<html>
    <head>
        <script src="/script_test"></script>
        <script src="/script_test_maxage"></script>
        <script src="/script_test2"></script>
        <link rel="stylesheet" href="/css_test">
        <link rel="stylesheet" href="/css_test_maxage">
        <link rel="stylesheet" href="/css_test2">
    </head>
    <body>
        current time={{ time }}<br>
        <table>
            <tr>
                <td>/myamya</td>
                <td>
                    <img src="/myamya">
                </td>
            </tr>
            <tr>
                <td>/myamya_maxage</td>
                <td>
                    <img src="/myamya_maxage">
                </td>
            </tr>
        </table>
        <a href=".">self</a>
    </body>
</html>
